/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

 
    Created on : 25/10/2015, 12:40:31 PM
    Author     : J-MeN
*/

#fondo{
    width: 1px;
    height: 1px;
    position: fixed;
    text-align: center;
    top:50%;
    left:50%;
    z-index: 99;
}
.animar{
    height: 25px !important;
    color: #2196F3 !important;
}
.mdl-layout-title{    
    color: #2196F3 !important;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: rgba(18, 55, 133, 0.2);
}
.crearrol.mdl-card {
    width: 600px;
    margin: 0 auto;
}
.crearrol > .mdl-card__title {
    color: #fff;
    height: auto;
    background: #2196F3;
}
.crearrol > .mdl-card__supporting-text {
    height: auto;
    padding-bottom: 0px;
}   
.crearusuario.mdl-card {
    width: 900px;
    max-width: 98%;
    margin: 0 auto;
}
.crearusuario > .mdl-card__title {
    color: #fff;
    background: #2196F3;
}
.crearusuario > .mdl-card__supporting-text {
    height: 60px;
}   
.tabla{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
}
.demo-card-square > .mdl-card__title {
    color: #fff;
    background:
        url('../imagenes/icono.png') bottom right 15% no-repeat #46B6AC;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: 0px solid #7096ab;
    background: #1B7BC8;
    background: #1B7BC8 linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0));
    background: #1B7BC8 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), to(rgba(255,255,255,0)));
    background: #1B7BC8 -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0));
    font-weight: bold;
    color: #fff;

}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #1B7BC8;
    background: #2196F3;
    font-weight: bold;
    color: #fff;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
}
.ui-widget-content {
    border: 1px solid #1B7BC8;
    background: #ffffff;
    color: #4f4f4f;
}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
    background-image: url("/Inventario/faces/resources/imagenes/ui-icons_ededed_256x240.png") !important;
}
.mdl-button--accent>span.ui-icon{
    background-image: url("/Inventario/faces/resources/imagenes/ui-icons_ededed_256x240.png") !important;
}
.ui-state-default .ui-icon {
    background-image: url("/Inventario/faces/resources/imagenes/ui-icons_ededed_256x240.png") !important;
}
.mdl-color--blue-grey-900 {
    background-color: #1B7BC8 !important;
}
.mdl-layout__drawer {
    color:#fff;
}
.mdl-color--blue-grey-800 {
    background-color: #2196F3 !important;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: #fff;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: #1B7BC8;
}
.mdl-color-text--blue-grey-400 {
    color: #fff !important;
}
.ui-state-default {
    -moz-box-shadow: inset 0px 1px 0px #1B7BC8;
    -webkit-box-shadow: inset 0px 1px 0px #1B7BC8; 
    box-shadow: inset 0px 1px 0px #1B7BC8; 
}
.ui-button{
    -moz-box-shadow: inset 0px 1px 0px #fff !important;
    -webkit-box-shadow: inset 0px 1px 0px #2196F3 !important;
    box-shadow: inset 0px 1px 0px #2196F3 !important;
    border: 1px solid #1B7BC8 !important;
}
.ui-inputfield{
    background: #fff !important;
    color: #4f4f4f !important;
}
.ui-widget-header {
    border: 1px solid #1B7BC8;
    background: #2196F3 !important;color: #fff;
    font-weight: bold;
    text-shadow: 0px 0px 0px rgba(255,255,255,0.7);
}
.ui-widget-header .ui-icon {
    background-image: url("/Inventario/faces/resources/imagenes/ui-icons_ededed_256x240.png") !important;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #FFF;
    text-decoration: none;
    text-shadow: 0 0px 0 rgba(255, 255, 255, 0.8);
}
.ui-state-hover {
    -moz-box-shadow: 0px 0px 0px #85b2cb, inset 0px 0px 0px #fff;
    -webkit-box-shadow: 0px 0px 0px #85b2cb, inset 0px 0px 0px #fff; 
    box-shadow: 0px 0px 0px #85b2cb, inset 0px 0px 0px #fff; 
}
.agregarProducto.mdl-card {
    width: 950px;
    max-width: 98%;
    margin: 0 auto;
    /* z-index: 1010 !important; */
}
.agregarProducto>.mdl-textfield__input{
    z-index: 10100 !important;
}
.agregarProducto>.mdl-textfield{
    z-index: 1010 !important;
}
.verProducto.mdl-card {
    width: 1100px;
    max-width: 98%;
    margin: 0 auto;
}
.mdl-card__title {
    color: #fff;
    background: #2196F3;
}
.fecha .ui-inputfield{
    width: 98%;
    border: none !important;
    display: block;
    font-size: 16px;
    margin: 0 !important;
    padding: 4px 0 !important;
    width: 100%;
    background: 0 0 !important;
    text-align: left;
    color: inherit !important;
    box-shadow: inset 0px 0px 0px #1B7BC8 !important;
    border-bottom: 1px solid rgba(0,0,0,.12) !important;
}
.mdl-textfield__input{
    border-bottom: 1px solid rgba(0,0,0,.12) !important;
}
.ui-state-focus.ui-inputfield{
    outline:none;
    border-bottom: 2px solid rgb(33,150,243) !important;
}
.ui-selectonemenu{
    max-width: 100%;
}
.tabla {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #93c3cd;
    font-weight: bold;
    color: #fff;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: 1px solid #999999;
    background: #1B7BC8;
    font-weight: bold;
    color: #fff;
}
.mdl-button--raised.mdl-button--colored:hover {
    background-color: #1B7BC8;
}
.verProducto.mdl-card mdl-shadow--2dp{
    width: 900px !important;
}
.mdl-layout__drawer {
    position: fixed;
    z-index: 999;
}